
              {% csrf_token %}
              <div class="form-row">
                <div class="col">
                  <label for="a1" >Answer 1</label>
                  <input type="text" class="form-control" name="a1">
                </div>
                <div class="col">
                  <label for="a21">Answer 21</label>
                  <input type="text" class="form-control" name="a21">
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <label for="a2">Answer 2</label>
                  <input type="text" class="form-control" name="a2">
                </div>
                <div class="col">
                  <label for="a22">Answer 22</label>
                  <input type="text" class="form-control" name="a22">
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <label for="a3">Answer 3</label>
                  <input type="text" class="form-control" name="a3">
                </div>
                <div class="col">
                  <label for="a23">Answer 23</label>
                  <input type="text" class="form-control" name="a23">
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <label for="a4">Answer 4</label>
                  <input type="text" class="form-control" name="a4">
                </div>
                <div class="col">
                  <label for="a24">Answer 24</label>
                  <input type="text" class="form-control" name="a24">
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <label for="a5">Answer 5</label>
                  <input type="text" class="form-control" name="a5">
                </div>
                <div class="col">
                  <label for="a25">Answer 25</label>
                  <input type="text" class="form-control" name="a25">
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <label for="a6">Answer 6</label>
                  <input type="text" class="form-control" name="a6">
                </div>
                <div class="col">
                  <label for="a26">Answer 26</label>
                  <input type="text" class="form-control" name="a26">
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <label for="a7">Answer 7</label>
                  <input type="text" class="form-control" name="a7">
                </div>
                <div class="col">
                  <label for="a27">Answer 27</label>
                  <input type="text" class="form-control" name="a27">
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <label for="a8">Answer 8</label>
                  <input type="text" class="form-control" name="a8">
                </div>
                <div class="col">
                  <label for="a28">Answer 28</label>
                  <input type="text" class="form-control" name="a28">
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <label for="a9">Answer 9</label>
                  <input type="text" class="form-control" name="a9">
                </div>
                <div class="col">
                  <label for="a29">Answer 29</label>
                  <input type="text" class="form-control" name="a29">
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <label for="a10">Answer 10</label>
                  <input type="text" class="form-control" name="a10">
                </div>
                <div class="col">
                  <label for="a30">Answer 30</label>
                  <input type="text" class="form-control" name="a30">
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <label for="a11">Answer 11</label>
                  <input type="text" class="form-control" name="a11">
                </div>
                <div class="col">
                  <label for="a31">Answer 31</label>
                  <input type="text" class="form-control" name="a31">
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <label for="a12">Answer 12</label>
                  <input type="text" class="form-control" name="a12">
                </div>
                <div class="col">
                  <label for="a32">Answer 32</label>
                  <input type="text" class="form-control" name="a32">
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <label for="a13">Answer 13</label>
                  <input type="text" class="form-control" name="a13">
                </div>
                <div class="col">
                  <label for="a33">Answer 33</label>
                  <input type="text" class="form-control" name="a33">
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <label for="a14">Answer 14</label>
                  <input type="text" class="form-control" name="a14">
                </div>
                <div class="col">
                  <label for="a34">Answer 34</label>
                  <input type="text" class="form-control" name="a34">
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <label for="a15">Answer 15</label>
                  <input type="text" class="form-control" name="a15">
                </div>
                <div class="col">
                  <label for="a35">Answer 35</label>
                  <input type="text" class="form-control" name="a35">
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <label for="a16">Answer 16</label>
                  <input type="text" class="form-control" name="a16">
                </div>
                <div class="col">
                  <label for="a36">Answer 36</label>
                  <input type="text" class="form-control" name="a36">
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <label for="a17">Answer 17</label>
                  <input type="text" class="form-control" name="a17">
                </div>
                <div class="col">
                  <label for="a37">Answer 37</label>
                  <input type="text" class="form-control" name="a37">
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <label for="a18">Answer 18</label>
                  <input type="text" class="form-control" name="a18">
                </div>
                <div class="col">
                  <label for="a38">Answer 38</label>
                  <input type="text" class="form-control" name="a38">
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <label for="a19">Answer 19</label>
                  <input type="text" class="form-control" name="a19">
                </div>
                <div class="col">
                  <label for="a39">Answer 39</label>
                  <input type="text" class="form-control" name="a39">
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <label for="a20">Answer 20</label>
                  <input type="text" class="form-control" name="a20">
                </div>
                <div class="col">
                  <label for="a40">Answer 40</label>
                  <input type="text" class="form-control" name="a40">
                </div>
              </div>
              <hr>
              <button type="submit"  class="btn btn-secondary btn-sm">
                  Submit
              </button>