{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}mock list{% endblock %}

{% block stylesheet %}
<link href="{% static 'css/addons/cards-extended.min.css' %}" rel="stylesheet">
<link href="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css" rel="stylesheet" />
{{ form.media.css }}
<style>
 #map{
   height: 300px;
   width: 100%;
 }
</style>
{% endblock %}

{% block script %}
{{ form.media.js }}
<script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiYWxsb3lvcm92ZWxiZWsiLCJhIjoiY2s5ZnA3eTRiMGR0eDNlcW1hMDFna3A0biJ9.Jw4TnqSliBdenFpOiOu6qA';
      var map = new mapboxgl.Map({
          container: 'map', // container id
          style: 'mapbox://styles/mapbox/streets-v11',
          center: [{{ x }},{{ y }}], // starting position
          zoom: 9 // starting zoom
      });
  
      // Add zoom and rotation controls to the map.
      map.addControl(new mapboxgl.NavigationControl());
    </script>
{% endblock %}


{% block main %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <h5 class="my-4"><a class="dark-grey-text font-weight-bold" href="{% url 'student:student' %}">Mocklist</a> / 
      <span class="text-muted font-weight-bold">View</span></h5>
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ request.user.get_full_name|default:request.user.username }}, </strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      <div class="card">
        <div class="card-body" >
          <h5 class="card-title">{{ mock.name }}</h5>
          <p class="card-text">{{ mock.bio }}
          <p>The test created at {{ mock.time_created }}</p>
          <p>The mock test will start at {{ mock.time_start }}</p>
          <p>Speaking exam will be hold in {{ mock.speak_date }}</p>
          </p>
          <p>{{ mock.total_registers }} people are taking this test</p>
          <!--<a href="#" class="like btn btn-flat deep-purple-text p-1 mx-0 mb-0" name="{{ mock.id }}"  >Register</a>-->
          {% if request.user in mock.registerations.all %}
          <p>You are already registered for this test</p>
          {% else %}
          <form action="{% url 'student:mock_register' slug=mock.slug %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary  p-2"  value="Register" />
          </form>
          {% endif %}
        </div>
       </div>
  </div>

  <div class="col-md-4">
    <h5 class="my-4"><span class="text-muted font-weight-bold">Address and Information</span></h5>
    
<!-- Card -->
<div class="card promoting-card">

  <!-- Card content -->
  <div class="card-body d-flex flex-row">

    <!-- Avatar -->
    <img src="{{ teacher.avatar.url }}" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">

    <!-- Content -->
    <div>

      <!-- Title -->
      <h5 class="card-title mt-3">{{ mock.user.get_full_name|default:mock.user.username }}</h5>
      <!-- Subtitle
      <p class="card-text"><i class="far fa-clock pr-2"></i>07/24/2018</p>
      -->
    </div>

  </div>

  <!-- Card image -->
  <div class="view overlay">
    <div id="map"></div>
  </div>

  <!-- Card content -->
  <div class="card-body">

    <table class="table table-borderless">
      <tbody>
        <tr>
          <th scope="row" class="px-0 pb-3 pt-2">
              <i class="fas fa-map-marker-alt living-coral-text"></i>
          </th>
          <td class="pb-3 pt-2">{{ teacher.education_centre }}</td>
        </tr>
        <tr class="mt-2">
          <th scope="row" class="px-0 pb-3 pt-2">
            <i class="far fa-clock living-coral-text"></i>
          </th>
          <td class="pb-3 pt-2">{{ teacher.birth_date }}</td>
        </tr>
        <tr class="mt-2">
          <th scope="row" class="px-0 pb-3 pt-2">
            <i class="fas fa-phone living-coral-text"></i>
          </th>
          <td class="pb-3 pt-2">{{ teacher.phone }}</td>
        </tr>
        <tr class="mt-2">
          <th scope="row" class="px-0 pb-3 pt-2">
            <i class="fas fa-cloud living-coral-text"></i>
          </th>
          <td class="pb-3 pt-2">{{ teacher.bio }}</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
<!-- Card -->
  </div>
</div>

{% endblock %}


{% block footer %}
{% endblock %}