{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}mock list{% endblock %}

{% block stylesheet %}
<style>

</style>
{% endblock %}

{% block script %}
<script src="{% static 'ckeditor/ckeditor.js' %}"></script>
<script>
  CKEDITOR.replace( '.richtexteditor' );
</script>
{% endblock %}


{% block main %}
  
<!-- Nav tabs -->
<div class="row">
  <div class="col-md-2">
    <div class="sticky-top my-2">
      <div class="list-group">
          <a data-toggle="tab" href="#panel21" role="tab" class="list-group-item list-group-item-action active">
            Listening
          </a>
          <a data-toggle="tab" href="#panel22" role="tab" class="list-group-item list-group-item-action">Reading</a>
          <a data-toggle="tab" href="#panel23" role="tab" class="list-group-item list-group-item-action">Writing</a>
          <a data-toggle="tab" href="#panel24" role="tab" class="list-group-item list-group-item-action">Speaking</a>
      </div>
      <div class="list-group my-4">
        <button type="button" class="list-group-item list-group-item-action list-group-item-primary" data-toggle="modal" data-target="#fullHeightModalRight1" >Answer reading</button>
        <button type="button" class="list-group-item list-group-item-action list-group-item-danger" data-toggle="modal" data-target="#fullHeightModalRight2">Answer Listening</button>
        <button type="button" class="list-group-item list-group-item-action list-group-item-success" data-toggle="modal" data-target="#fullHeightModalRight3" data-backdrop="false">Answer Writing</button>
        <button type="button" class="list-group-item list-group-item-action list-group-item-secondary" data-toggle="modal" data-target="#centralModalSm">Answer Speaking</button>
      </div>
      
    </div>
  </div>

  <div class="col-md-10" style="background-color: white;">
    <!-- Tab panels -->
    <div class="tab-content vertical">
      <!-- Panel 1 -->
      <div class="tab-pane fade in show active" id="panel21" role="tabpanel">
        <div class="overflow-auto">
        <h3 class="my-2 h5">Listening</h3>
        
        <audio id="Audio" controls style="width: 500px">
          <source src="{{ mock.listening.audio.url }}" type="audio/mpeg">
        </audio>



          <a class="float-right" href="{{ mock.listening.pdf.url }}" type="application/octet-stream .pdf" target="_blank" role="button" >
            <i class="fa fa-download mx-4 mb-4" aria-hidden="true" style="color: black; font-size: 30px;"></i></a>
          
            <p>Section1</p>

          {{ mock.listening.section1|safe }}
          <hr>
          <p>Section 2</p>
          {{ mock.listening.section2|safe }}
          <hr>
          <p>Section 3</p>
          {{ mock.listening.section3|safe }}</p>
          <hr>
          <p>Section 4</p>
          {{ mock.listening.section4 }}
        </div>
      </div>
      <!-- Panel 1 -->
      <!-- Panel 2 -->
      <div class="tab-pane fade" id="panel22" role="tabpanel">
        <h3 class="my-2 h5">Reading</h3>
        <a class="float-right" href="{{ mock.reading.pdf.url }}" type="application/octet-stream .pdf" target="_blank" role="button" >
          <i class="fa fa-download mx-4 mb-4" aria-hidden="true" style="color: black; font-size: 30px;"></i></a>
        <p>Passage 1</p>
        {{ mock.reading.passage1 }}
        <hr>
        <p>Passage 2</p>
        {{ mock.reading.passage2 }}
        <hr>
        <p>Passage 3</p>
        {{ mock.reading.passage3 }}
      </div>
      <!-- Panel 2 -->
      <!-- Panel 3 -->
      <div class="tab-pane fade" id="panel23" role="tabpanel">
        <h5 class="my-2 h5">Writing</h5>
        <a class="float-right" href="{{ mock.writing.pdf.url }}" type="application/octet-stream .pdf" target="_blank" role="button" >
          <i class="fa fa-download mx-4 mb-4" aria-hidden="true" style="color: black; font-size: 30px;"></i></a>
        <img class="rounded mx-auto d-block" src="{{ mock.writing.image.url }}" alt="" width="600px" height="400px">
        <p>Task 1</p>
        {{ mock.writing.task1 }}
        <hr>
        <p>Task 2</p>
        {{ mock.writing.task2 }}
        <!-- Default form contact -->
          
<!-- Default form contact -->
      </div>
      <!-- Panel 3 -->
      <!-- Panel 4 -->
      <div class="tab-pane fade" id="panel24" role="tabpanel">
        <h5 class="my-2 h5">Speaking</h5>
        <a class="float-right" href="{{ mock.speaking.pdf.url }}" type="application/octet-stream .pdf" target="_blank" role="button" >
          <i class="fa fa-download mx-4 mb-4" aria-hidden="true" style="color: black; font-size: 30px;"></i></a>
        <P>Part 1</P>
        {{ mock.speaking.part1 }}
        <hr>
        <p>Part 2</p>
        {{ mock.speaking.part2 }}
        <hr>
        <p>Part 3</p>
        {{ mock.speaking.part3 }}
      </div>
      <!-- Panel 4 -->
    </div>
  </div>
</div>
<!-- Nav tabs -->

<!-- Full Height Modal Right -->
<div class="modal fade right" id="fullHeightModalRight1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

  <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
  <div class="modal-dialog modal-full-height modal-right" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Answer Reading</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  method="POST" action="{% url 'student:answer_read' slug=mock.slug %}">
        {% include 'student/answer-form.html' %}
         </form>
      </div>
    </div>
  </div>
</div>



<div class="modal fade right" id="fullHeightModalRight2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

  <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
  <div class="modal-dialog modal-full-height modal-right" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Answer Listening</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  method="POST" action="{% url 'student:answer_list' slug=mock.slug %}">
          {% include 'student/answer-form.html' %}
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Full Height Modal Right -->


<div class="modal fade left" id="fullHeightModalRight3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

  <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
  <div class="modal-dialog modal-full-height modal-left" role="document">


    <div class="modal-content" >
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="" method="POST" action="{% url 'student:answer_write' slug=mock.slug %}" enctype="multipart/form-data" novalidate>
          {% csrf_token %}
            <!-- Message -->
            <div class="form-group">
                <textarea class="form-control rounded-0" name="task1" id="exampleFormControlTextarea2" rows="15" placeholder="Message"></textarea>
            </div>
            <div class="form-group">
              <textarea class="form-control rounded-0" name="task2" id="exampleFormControlTextarea2" rows="15" placeholder="Message"></textarea>
            </div>
            <div class="form-group">
            <div class="custom-file">
              <input type="file" name="pdf" class="custom-file-input" id="customFileLang" lang="en">
              <label class="custom-file-label" for="customFileLang">Send your file</label>
            </div>
            </div>
            <!-- Send button -->
            
      </div>
      <div class="modal-footer justify-content-end">
        <button type="button" class="btn  btn-danger" data-dismiss="modal">Close</button>
        <button class="btn btn-secondary  " type="submit">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Full Height Modal Right -->



<!-- Central Modal Small -->
<div class="modal fade right" id="centralModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

  <!-- Change class .modal-sm to change the size of the modal -->
  <div class="modal-dialog modal-side modal-sm modal-top-right" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="" method="POST" action="{% url 'student:answer_speak' slug=mock.slug %}" enctype="multipart/form-data" novalidate>
          {% csrf_token %}
            <div class="form-group">
            <div class="custom-file">
              <input type="file" name="audio" class="custom-file-input" id="customFileLang" lang="en">
              <label class="custom-file-label" for="customFileLang">Send your file</label>
            </div>
            </div>
            <!-- Send button -->
            
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
        <button class="btn btn-info btn-sm" type="submit">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Central Modal Small -->
{% endblock %}


{% block footer %}
{% endblock %}