
{% extends 'base_main.html' %}
{% load static %}
{% load bootstrap4 %}

{% block stylesheet %}
{{ form.media.css }}
<style>
</style>
{% endblock %}

{% block script %}
{{ form.media.js }}
{% endblock %}
        
{% block main %}
<div class="row justify-content-center">
  <div class="col-md-5 col-lg-5 col-sm-5 my-5">
    
      <!-- Material form login -->
      <div class="card">
        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">
          <h5 class=" text-center my-4 dark-grey-text font-weight-bold">{{ title }}</h5>
          <form class="text-center" action="" method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-outline-info btn-block my-5 py-2 waves-effect z-depth-0">
                    {{ title }}
                </button>
            {% endbuttons %}
            </form>
            {% if title == "Sign in" %}
            <!-- Register -->
            <p>Not a member?
              <a href="{% url 'accounts:student_create'  %}">Sign up</a>
            </p>

            <!-- Social login -->
            <p>or sign in with:</p>
            <a type="button" class="btn-floating btn-fb btn-sm">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a type="button" class="btn-floating btn-tw btn-sm">
              <i class="fab fa-google"></i>
            </a>
            <a type="button" class="btn-floating btn-li btn-sm">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a type="button" class="btn-floating btn-git btn-sm">
              <i class="fab fa-github"></i>
            </a>
            {% else %}
            <p>Already a member?
              <a href="{% url 'accounts:login'  %}">Sign in</a>
            </p>
            {% endif %}
        </div>

      </div>
      <!-- Material form login -->
  </div>
</div>

{% endblock %}