{% extends 'base_main.html' %}

{% block title %}Main page{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block script %}
{% endblock %}

{% block main %}
<H4 class="font-weight-bold"><p>IELTS-preparation, your best IELTS guide</p></H4>
<br>
<h5>
    <p>
    Are you preparing for IELTS? Seeking a place where you could find IELTS tips and tricks?
    </p>
    <p> 
    Searching a site with a real-test-like collection of exam samples? Learning IELTS vocabulary? 
    </p>
    <p>
    Searching useful IELTS exercises? Or maybe you are just studying English? Then this site is for you.
    </p>
</h5>   
<blockquote class="blockquote bq-warning ml-5" style="background-color: #FEFCEA; width: 500px; font-size: 15px;">
    <p class="bq-title" style="font-size: 18px;">IELTS Listening</p>
    <ul>
        <li>
            <a href="" class="hr">About Listening sections</a>
        </li>
        <li>
            <a href="" class="hr">Listening Practice</a>
        </li>
    </ul>
    <p class="bq-title" style="font-size: 18px;">IELTS Reading</p>
    <ul>
        <li>
            <a href="" class="hr">About Reading sections</a>
        </li>
        <li>
            <a href="" class="hr">Reading Practice</a>
        </li>
    </ul>
    <p class="bq-title" style="font-size: 18px;">IELTS Writing</p>
    <ul>
        <li>
            <a href="" class="hr">About Writing sections</a>
        </li>
        <li>
            <a href="" class="hr">Writing Practice</a>
        </li>
        <li>
            <a href="" class="hr">Writing Vocabulary</a>
        </li>
    </ul>
    <p class="bq-title" style="font-size: 18px;">IELTS Speaking</p>
    <ul>
        <li>
            <a href="" class="hr">About Speaking sections</a>
        </li>
        <li>
            <a href="" class="hr">Speaking Practice</a>
        </li>
        <li>
            <a href="" class="hr">Speaking Vocabulary</a>
        </li>
    </ul>
  </blockquote>
  <br>
  <H4 class="font-weight-bold">All you need to succeed in IELTS is here!</H4>
  <br>
    <h5>
        <p>
            Our site is created to prepare you for IELTS and improve your English efficiently. Whatever your level of English is, you can find here everything you need to reach your aim score in IELTS! 
        </p>
        <p> 
            To set your preparation strategy, you can use score maximizer. 
        </p>
        <p>
            You can also take trial IELTS. 
        </p>
    </h5>   
    <blockquote class="blockquote bq-warning ml-5" style="background-color: #FEFCEA; width: 500px;font-size: 15px;">
        <p class="bq-title" style="font-size: 18px;">See on this page: </p>
        <ul>
            <li>
                <a href="" class="hr" >About IELTS</a>
            </li>
            <li>
                <a href="" class="hr">Academic and General IELTS</a>
            </li>
            <li>
                <a href="" class="hr">IELTS consists of 4 sections ...</a>
            </li>
        </ul>
    </blockquote>
    <br>
    <H4 class="font-weight-bold">About IELTS </H4>
    <br>
    <h5>
        <p>
            IELTS is the International English Language Testing System, the world's most popular English language test. 
        </p>
        <p> 
            It is designed to determine the level of English skills of people whose first language is not English. IELTS is the most demanded test of English for study and immigration, being taken by more than 2 million people each year. 
        </p>
        <p>
            IELTS is jointly owned by British Council, IDP: IELTS Australia and Cambridge English Language Assessment through more than 1,000 test centres and locations in over 140 countries.  
        </p>
    </h5>

{% endblock %}


{% block footer %}

{% endblock %}