{% extends 'base.html' %}
{% load static %}
{% block title %}mock list{% endblock %}

{% block stylesheet %}
<style>
</style>
{% endblock %}

{% block script %}
<script>
  $('#dtMaterialDesignExample2').DataTable();
</script>
{% endblock %}


{% block main %}
<div class="row justify-content-center">
  <div class="col-10">
      <!-- Editable table -->
      <h5 class="my-4 dark-grey-text font-weight-bold text-capitalize">Mock tests list</h5>
      <div class="card">
        <div class="card-body  px-4 my-3">
          <a href="{% url 'teacher:new_mock' %}" class="btn btn-outline-default py-1 z-depth-1  float-right" style="border: 1.5px solid #3F5C80 !important">
            <i class="fas fa-plus pr-2" aria-hidden="true"></i>Add
          </a>
                  
          <table id="dtMaterialDesignExample2" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">

                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Start time</th>
                        <th>Free/Paid</th>
                        <th>Takers</th>
                        <th></th>
                      </tr>
                    </thead>
                  
                    <tbody>
                      {% for test in tests %}
                      <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ test.name }}</td>
                        <td>{{ test.time_start }}</td>
                        {% if test.is_free %}
                        <td>free</td>
                        {% else %}
                        <td>paid</td>
                        {% endif %}
                        <td>{{ test.total_registers }}</td>
                        <td>
                          <a class="btn btn-outline-default btn-sm py-1 z-depth-1" style="border: 1.5px solid #3F5C80 !important" href="{{ test.get_absolute_url }}">View</a> 
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
        </div>
      </div>
      <!-- Editable table -->
    </div>
</div>
{% endblock %}


{% block footer %}
{% endblock %}